<header>
  <nav>
    <ul>
      <li><a href="/home">HOME</a></li>
      <li>
        <a href="/messages/<%= user.id %>/new">NEW MESSAGE</a>
      </li>
      <li>
        <a href="/user/<%= user.id%>">MY PROFILE</a>
      </li>
      <li>
        <a href="/log-out">LOG OUT</a>
      </li>
    </ul>
  </nav>
</header>
