<!DOCTYPE html>
<html>
  <head>
    <title><%= error.status %> Error</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/pages/error.css" />
  </head>
  <body>
    <h1><%= error.status %> Page not found!</h1>
    <a href="/"><button class="large-button">ESCAPE!</button></a>
  </body>
</html>
