body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 3rem;
  text-align: center;
}

#memberButton {
  font-size: 4rem;
}

#memberButton:hover {
  background-color: gold;
}

.bottom-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

#video {
  min-width: 600px;
  width: 50%;
  height: 500px;
  margin: auto 0;
}
