body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.message-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
  position: relative;
}

#charCount {
  position: absolute;
  right: 1.5rem;
}
